/home/__pycache__/
home/__pycache__/apps.cpython-312.pyc
attendance/__pycache__/settings.cpython-312.pyc
face_reco/__pycache__/__init__.cpython-312.pyc
face_reco/__pycache__/apps.cpython-312.pyc
face_reco/__pycache__/models.cpython-312.pyc
face_reco/__pycache__/admin.cpython-312.pyc
home/migrations/__pycache__/__init__.cpython-312.pyc
student/migrations/__pycache__/__init__.cpython-312.pyc
student/__pycache__/admin.cpython-312.pyc
student/__pycache__/apps.cpython-312.pyc
student/__pycache__/__init__.cpython-312.pyc
student/__pycache__/models.cpython-312.pyc
attendance/__pycache__/wsgi.cpython-312.pyc
attendance/__pycache__/urls.cpython-312.pyc
attendance/__pycache__/__init__.cpython-312.pyc
face_reco/migrations/__pycache__/__init__.cpython-312.pyc
